iframe {
    border: none;
}

table,
tr,
td {
    border: solid 1px black;
}

#test-table table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

#test-table td,
#test-table th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

#test-table th {
    background-color: rgb(235, 235, 235);
}

#test-table td {
    text-align: center;
}

#test-table tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

#test-table tr:nth-child(odd) td {
    background-color: rgb(245, 245, 245);
}

#test-table caption {
    padding: 10px;
}
